body {
  font-family: arial, verdana, sans-serif;
}

header, footer { text-align:center; width: 100%; }

header {
  height: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

section{
  overflow:auto;
}

#console {
  font-family: courier, monospace;
  font-size: 12px;
  margin-top: 20px;
  height: 200px;
  width: 630px;
  padding: 5px;
  border: 1px #ccc solid;
  overflow-y: scroll;
}


#videoplayer {
  position: relative;
  overflow:visible;
}
#videoplayer #adcontainer {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow:hidden;
  background:#fff;
  z-index:-1;
}
#videoplayer #adcontainer.playing_ad {
  z-index:2;
}
#videoplayer #adcontainer.playing_content {
  z-index:-1;
}
#videoplayer #content{
  z-index:1;
  overflow:visible;
}


