body {
  font-family: arial, verdana, sans-serif;
}

header, footer { text-align:center; width: 100%; }

header {
  height: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

#videoplayer {
  position: relative;
  background-color: #000;
  border: 1px #ccc solid;
  width: 640px;
  height: 360px;
}

#content-wrapper {
  position:relative;
  top: 0px;
  left: 0px
}

#playpause {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 2em;
  width: 2em;
  border-radius:1em;
  font-weight: bold;
  font-size: 3em;
  background: none;
  border: 5px #fff solid;
  color: #fff;
  cursor: pointer;
  line-height: 0;
  opacity:1;
  transition: color 200ms, border-color 200ms;
  box-shadow: 0px 0px 1px #aaa;
}
#playpause.playing{
  display:none;
}
#playpause.paused{
  display:block;
}

#container #playpause:hover {
border-color:#FFD20F;
  color: #FFD20F;
}

#content, #adcontainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 360px;
}

#console {
  font-family: courier, monospace;
  font-size: 12px;
  margin-top: 20px;
  height: 200px;
  width: 630px;
  padding: 5px;
  border: 1px #ccc solid;
  overflow-y: scroll;
}

